@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'DM Sans', sans-serif;
  background: #2D2D2D;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Grid Background */
.grid-background {
  background-image:
    linear-gradient(to right, #ffffff0d 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 96px 96px;
}

/* Gradient Border */
.gradient-border {
  width: 100%;
  background: #2D2D2D;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  position: relative;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(145.73deg, rgba(165, 229, 71, 0.3) 0%, rgba(128, 26, 229, 0.3) 20%, rgba(165, 229, 71, 0.3) 80%, rgba(128, 26, 229, 0.3) 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.gradient-border {
  box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.1);
}

/* Make iframes transparent */
iframe {
  background-color: transparent !important;
  background: transparent !important;
  border: 0;
  color-scheme: normal;
}

/* Make the background color of the page transparent */
body {
  background-color: transparent !important;
  background: transparent !important;
}